/* Reset Model */
html, body, header, ul, li, img, p, h1, h2, h3, nav, div, a, section{
    margin: 0;
    padding: 0;         /* Borda Interna da Caixa */
    list-style: none;
    color: black;
    font-size: 16px;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    border: none;
}